/* Styles for FAST music visualisation */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}
.displayInfo {
    position: absolute;
    color: #7fa5ff;
    font-size: 1.3vw;
}
#versionInfo {
    top: 20px;
    left: 100px;
}
#trackInfo {
    top: 60px;
    left: 100px;
}