/* Styles for FAST music visualisation */

body {
    background: #bdbdbd;
}
.centred {
    text-align: center;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
#instructions p {
    font-size: 1vw;
}