/* Styles for FAST music visualisation */

body {
    background: #bdbdbd;
}
.centred {
    text-align: center;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
#instructions p {
    font-size: 1vw;
}
#files {
    margin-top: 3%;
}
#files p {
    background: darkgrey;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
.row {
    margin-bottom: 2%;
}